.chargement_partie {
    width: 100vw;
    height: 100vh;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    z-index: 1;
    position: absolute;
    top : 0;
}

.body_chargement_partie {
    max-width: 100vw;
    max-height: 100vh;
}

.loader {
    --color: white;
    --size-mid: 6vmin;
    --size-dot: 1.5vmin;
    --size-bar: 0.4vmin;
    --size-square: 3vmin;

    display: block;
    position: relative;
    width: 50%;
    display: grid;
    place-items: center;
}

.loader::before,
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
}

/**
	loader --6
**/
.loader::before {
    width: var(--size-square);
    height: var(--size-square);
    background-color: var(--color);
    top: calc(50% - var(--size-square));
    left: calc(50% - var(--size-square));
    animation: loader 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes loader {
    0%, 100% {
        transform: none;
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%) translateY(100%);
    }

    75% {
        transform: translateY(100%);
    }
}

.alert-perdu {
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 3em;
}